#fundoPagina{
  background-color: #343A40;
}
#areaReg{
  position: absolute;
  left: 30%;
  top: 20%;
  width: 40%;
  height: 70%;
  background-color: white;
  border-style: solid;
  border-color: #DFDFDF;

}
#tituloReg{
  position: absolute;
  margin-left: 33%;
  top: 4%;
  color: black;
  font-family: verdana;
}
#areaNome{
  background-color: #F5F8FA;
  position: absolute;
  left: 10%;
  top: 15%;
  width: 80%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  border-style: solid;
  border-color: #DFDFDF;
}
#areaUsername{
  background-color: #F5F8FA;
  position: absolute;
  left: 10%;
  top: 22%;
  width: 80%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  border-style: solid;
  border-color: #DFDFDF;
}
#areaSenha{
  background-color: #F5F8FA;
  position: absolute;
  left: 10%;
  top: 29%;
  width: 38%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  border-style: solid;
  border-color: #DFDFDF;
}
#areaConfirmacao{
  background-color: #F5F8FA;
  position: absolute;
  left: 50%;
  top: 29%;
  width: 40%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  border-style: solid;
  border-color: #DFDFDF;
}
#areaEmail{
  background-color: #F5F8FA;
  position: absolute;
  left: 10%;
  top: 36%;
  width: 80%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  border-style: solid;
  border-color: #DFDFDF;
}
#dtnasc{
  background-color: #F5F8FA;
  position: absolute;
  left: 10%;
  top: 43%;
  width: 38%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #818181;
  border-style: solid;
  border-color: #DFDFDF;
}
#genero{
  background-color: #F5F8FA;
  position: absolute;
  left: 50%;
  top: 43%;
  width: 41.5%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1.5%;
  color: #818181;
  border-color: #dfdfdf;
}
#cidade{
  background-color: #F5F8FA;
  position: absolute;
  left: 10%;
  top: 50.5%;
  width: 80%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  border-style: solid;
  border-color: #DFDFDF;
}
#website{
  background-color: #F5F8FA;
  position: absolute;
  left: 10%;
  top: 57.5%;
  width: 80%;
  font-family: verdana;
  resize: none;
  outline-style: none;
  overflow: hidden;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  border-style: solid;
  border-color: #DFDFDF;
}
a.fill-div{
 position: absolute;
 left: 10%;
 top: 75%;
 width: 81%;
 height: 5%;
 background-color: #3097D1;
 text-align: center;
 padding-top: 2%;
 padding-bottom: 2%;
 font-family: verdana;
 font-size: 25px;
 text-decoration: none;
 color: white;
}
