#fundo{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #202020;
}
#menuLateral{
  position: absolute;
  width: 25%;
  height: 70%;
  top: 0px;
  left: 15%;
  background-color: #2A2A2A;
}
#timeLine{
  position: absolute;
  width: 55%;
  height: 70%;
  top: 2%;
  left: 30%;
  background-color: white;
}
.menu{
  position: absolute;
  width: 100%;
  left: 0px;
  height: 15%;
  background-color: #202020;
}
#areaFoto{
  position: absolute;
  width: 100%;
  height: 39%;
  top: 0px;
  left: 0px;
  background-color:#202020;
}
#fotoUser{
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 20%;
}
#menuInicio{
  top: 40%;
}
#menuLogOut{
  top: 55.5%;
}
#mensagem{
  position: absolute;
  width: 70%;
  height: 15%;
  outline: none;
  resize: none;
  border-style: solid 2px;
  border-radius: 1%;
}
